@import url('main.css');

* {
	box-sizing:border-box;
}

body {
	font-family: Helvetica neue, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 16px;
	color: black;
	line-height: 1.4;
}

a {
	text-decoration: none;
	color: black;
	border-bottom: 2px solid red;
}

a:hover {
	border-bottom: 2px solid black;
}


.main-feature {
	margin-left: 3%;
	width: 100%;
	clear: both;
}


.main-feature h2 {
	display: inline-block;
	margin-bottom: 10px;
	margin-top: 10px;
	float: left;
	font-size: 48px;
	padding: 0;
}

.feature {
	float:left;
	width:30%;
	margin-right: 45px;
	padding: 20px 0px;
	font-size: 24px;
	font-weight: 400;
}

.feature:last-of-type {
	margin-right: none;
}


.feature h3 {
	clear: both;
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 10px;
	float: left;
	font-size: 27px;
	padding: 0;
}

.feature ul {
	font-weight: 700;
	clear: both;
	display: block;
	font-size: 16px;
	list-style-type: none;
	padding-bottom: 10px;

}
.feature li {
	padding-bottom: 5px;
}


.intro {
	float:left;
	width:60%;
	margin-right: 45px;
	padding: 20px 0px;
}

.intro p.lede {
	font-size: 30px;
	line-height: 40px;
	margin-bottom: 30px;
	font-weight: 700;
	margin-top: 0px;
}

.intro p.lede a {
	text-decoration: none;
	color: black;
	border-bottom: 2px solid red;
}

.intro p.lede a:hover {
	border-bottom: 2px solid black;
}

.intro p {
	font-size: 19px;
	line-height: 25px;
	font-weight: 300;
	margin-bottom: 60px;
	margin-top: 30px;
}


.footer {
	clear:both;
	margin: 100px 3% 30px 3%;
	width: 100%;
}


/* utils */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}


@media only screen and (max-width : 960px) {
	.header-logo {
		float: left;
		position: fixed;
		font-size: 100px;
		margin: 2.5%;
		/*max-width: 50%;*/
	}

	.top-space {
		float: left;
		height: 180px;
		width: 100%;
	}

	.menu {
		width: 200%;	
	}

	.main-feature {
		font-size: 19px;
		margin-left: 30%;
		margin-right: 5%;
		margin-bottom: 100px;
		clear: both;
		
	}

	.feature ul {
	padding-left: 0px;
}
}

@media only screen and (max-width : 720px) {

.main-feature {
	margin-left: 5%;
	margin-right: 15%;
	margin-bottom: 50px;
	clear: both;
	font-size: 16px;
	line-height: 20px;
}

.main-feature h2 {
	clear: both;
	display: inline-block;
	margin-bottom: 15px;
	float: left;
	font-size: 40px;
}

.feature-wrap {
	margin-left: 5%;
	/*margin-right: 15%*/
	/*margin-right: 3%;*/
}

.feature {
	float:left;
	width:75%;
	margin-right: 3%;
	padding: 20px 0px;
}

p.intro {
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 30px;
}

.feature ul {
	padding-left: 0px;
}

}



@media only screen and (max-width : 480px) {

.intro {
	width:100%;
	margin-right: 30px;
}

#header-wrap {
	max-width: 100%;
	position: relative;
	margin: 20px 20px 20px 20px;
	overflow: hidden;
}

#menu {
	z-index: 300;
	float: right;
	position: fixed;
	font-size: 19px;
	margin: 4% 2.5% 2.5% 50%;
	color: red;
	list-style-type: none;
}

.main-feature {
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 50px;
	clear: both;
}

.main-feature h2 {
	clear: both;
	display: inline-block;
	margin-bottom: 15px;
	margin-top: 50px;
	float: left;
	font-size: 40px;
}

.feature ul {
	padding-left: 0px;
}


}

