*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'SuisseIntl-Book-WebXL';
  src: url('fonts/SuisseIntl-Book-WebXL.eot'); /* IE9 Compat Modes */
  src: url('fonts/SuisseIntl-Book-WebXL.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/SuisseIntl-Book-WebXL.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/SuisseIntl-Book-WebXL.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/SuisseIntl-Book-WebXL.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/SuisseIntl-Book-WebXL.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
	font-family: 'SuisseIntl-Book-WebXL', Helvetica neue, Helvetica, sans-serif;
	font-size: 19px;
	color: black;
	line-height: 1.4;
}

h1 { 
	font-weight: normal;
	font-size: 32px;
	line-height: 40px; 
}

.header-wrapper {
	margin-bottom: 90px;
	max-width: 100%;
	z-index: 12;
	height: 60px;
}

.menu {
	z-index: 101;
	position: fixed;
	margin-top: 2.5%;
	display: block;
	margin: auto;
	vertical-align: middle;
	color: red;

}

.menu ul {
	font-size: 16px;
	letter-spacing: 2px;
	list-style: none;
}

.menu li {
	display: inline;
	margin-bottom: 10px;
	margin-right: 30px;
}

.menu li:first-child:before {
content: none;
}

.menu li a {
	color: blue;
	text-decoration: none;
}

.menu li a:hover {
	color: black;
}

.main-section {
	max-width: 1400px;
	margin-left: 3%;	
	clear: both;
}

.feature-big {
	float:left;
	width:60%;
	margin-top: 15px;
	margin-right: 45px;
	margin-left: 0;
	padding: 5px 0px;
}

.big-heading {
	margin-top: 15px;
	margin-right: 15px;
	font-size: 32px;
	line-height: 40px;
}

.intro p.lede {
	font-size: 32px;
	line-height: 40px;
	margin-bottom: 30px;
	margin-top: 0px;
}


.intro p.lede a {
	text-decoration: none;
	color: blue;
}

.intro p.lede a:hover {
	color: black;
}



.intro p {
	font-size: 19px;
	line-height: 25px;
	margin-bottom: 60px;
	margin-top: 30px;
}

.right-aside {
	float:left;
	width:30%;
	margin-right: 45px;
	padding: 20px 0px 20px 0px;
}

.intro {
	float:left;
	width:60%;
	margin-right: 45px;
	padding: 20px 0px;
}

.right-aside:last-of-type {
	margin-right: none;
}

.right-aside h2 {
	clear: both;
	display: inline-block;
	margin-bottom: 10px;
	float: left;
	font-size: 30px;
	line-height: 40px;
}

.right-aside h3 {
	clear: both;
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 10px;
	float: left;
	font-size: 24px;
	padding: 0;
}

.right-aside ul {
	clear: both;
	display: block;
	font-size: 16px;
	list-style-type: none;
	padding-bottom: 10px;

}
.right-aside li {
	padding-bottom: 5px;
}

.list {
	margin-bottom: 30px;
}

.list ul {
	font-size: 24px;
	line-height: 30px;
	list-style-type: none;
}

.list li {
	padding-bottom: 30px;
}


.footer {
	clear:both;
	margin: 100px 3% 30px 3%;
	width: 100%;
}



a {
	text-decoration: none;
	color: blue;
}

a:hover {
	color: black;
}

#work-section {
	max-width: 960px;
	clear: both;
	margin: auto;
	overflow: hidden;
	z-index: 10;
}

#work-section img {
	width: 100%;
	display: block;
}

.image-name {
    width:100%;
    display:block;
    position:relative;
}

.image-name a {
    color: blue;
}

.image-name a:hover {
    color: black;
}

.project-name {
	font-size: 32px;
	margin-bottom: 90px;
	text-align: center;
}


/*.overlay {
    position:absolute;
    font-size: 60px;
    line-height: 75px;
    text-align: center;
    color: white;
    
    top:0;
    left: 0;
    width:100%;
    height:100%;
	visibility: hidden;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

.overlay span {
	visibility: hidden;
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -50px;
	width: 100%;
	text-align: center;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

.overlay:hover span {
	visibility: visible;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

.shade {
	margin-bottom: 30px;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

.shade:hover .overlay {
    visibility: visible;
    background-color: rgba(0,0,250,0.75);
    -webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}*/

/* utils */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}


@media only screen and (max-width : 960px) {


	.menu {
		position: relative;
	}

	.menu ul {
	padding-left: 30px;
	}

	.header-wrapper {
		margin-bottom: 60px;
	}


	#section {
		margin-left: 5%;
		margin-right: 5%;
	}

	.overlay {
	    position: static;
	    font-size: 48px;
	    line-height: 50px;
	    text-align: center;
	    color: red;
	    
	    top:0;
	    left: 0;
	    width:0;
	    width:100%;
	    height:100%;
	    background-color: white;
	    display:block;
	}

	.overlay span {
		visibility: visible;
		color: black;
		position: static;
		display: inline-block;
		height: 100px;
		margin-top: 30px;
		vertical-align: middle;
		width: 100%;
		text-align: center;
		background-color: white;
	}

	.shade {
		visibility: visible;
		margin-bottom: 30px;
		-webkit-transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		-ms-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
}

	.shade:hover .overlay {
	    /*display: block;*/
	    visibility: hidden;
	    background-color: white;
	    -webkit-transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		-ms-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
	}

.main-feature {
	font-size: 19px;
	margin-left: 30%;
	margin-right: 5%;
	margin-bottom: 100px;
	clear: both;
		
}

.right-aside ul {
	padding-left: 0px;
}

.intro p {
	font-size: 19px;
	line-height: 25px;
	margin-bottom: 15px;
	margin-top: 30px;
}

}

@media only screen and (max-width : 720px) {

.main-feature {
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 50px;
	clear: both;
	font-size: 16px;
	line-height: 20px;
}

.main-feature h2 {
	clear: both;
	display: inline-block;
	margin-bottom: 15px;
	float: left;
	font-size: 40px;
}


.right-aside {
	float:left;
	width:100%;
	margin-right: 3%;
	padding: 0 0 20 0;
}

.right-aside h2 {
	clear: both;
	display: inline-block;
	margin-bottom: 10px;
	float: left;
	font-size: 24px;
	line-height: 30px;
}

.intro p {
	font-size: 19px;
	line-height: 25px;
	margin-bottom: 15px;
	margin-top: 30px;
}


.intro p.lede {
	font-size: 24px;
	line-height: 30px;
	margin-right: 30px;
}

.feature-big {
	float:left;
	width:90%;
	margin-right: 45px;
	margin-left: 0;
	padding: 5px 0px;
}

.right-aside ul {
	padding-left: 0px;
}

}

@media only screen and (max-width : 480px) {

.header-wrapper {
	margin-bottom: 10px;
}

.menu ul {
	padding-left: 10px;
}

/*#header-wrap {
	max-width: 100%;
	position: relative;
	margin: 20px 20px 20px 20px;
	overflow: hidden;
}*/

/*#menu {
	z-index: 300;
	float: right;
	position: fixed;
	font-size: 19px;
	margin: 4% 2.5% 2.5% 50%;
	color: red;
	list-style-type: none;
}*/

.intro {
	width:100%;
	margin-right: 30px;
}

#header-wrap {
	max-width: 100%;
	position: relative;
	margin: 20px 20px 20px 20px;
	overflow: hidden;
}

#menu {
	z-index: 300;
	float: right;
	position: fixed;
	font-size: 19px;
	margin: 4% 2.5% 2.5% 50%;
	list-style-type: none;
}

.main-feature {
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 50px;
	clear: both;
}

.main-feature h2 {
	clear: both;
	display: inline-block;
	margin-bottom: 15px;
	margin-top: 50px;
	float: left;
	font-size: 40px;
}

.right-aside ul {
	padding-left: 0px;
}



}


