@import url('main.css');

* {
	box-sizing:border-box;
}


#section img {
	width: 100%;
	display: block;
	margin-bottom: 45px;
	max-width: 960px;
}

.main-feature {
	font-size: 19px;
	margin-left: 33%;
	margin-right: 5%;
	margin-bottom: 50px;
	clear: both;
	color: black;
}

.main-feature h2 {
	clear: both;
	display: inline-block;
	margin-bottom: 10px;
	float: left;
	font-size: 48px;
	padding: 0;
}

.main-feature p {
	clear: both;
	display: block;
	
}

/* utils */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}


@media only screen and (max-width : 960px) {
	.header-logo {
		float: left;
		position: fixed;
		font-size: 100px;
		margin: 2.5%;
		/*max-width: 50%;*/
	}

	.top-space {
		float: left;
		height: 180px;
		width: 100%;
	}

	.menu {
		width: 200%;	
	}

	.main-feature {
		font-size: 19px;
		margin-left: 30%;
		margin-right: 5%;
		margin-bottom: 50px;
		clear: both;
		
}
}

@media only screen and (max-width : 720px) {

.main-feature {
	margin-left: 5%;
	margin-right: 15%;
	margin-bottom: 50px;
	clear: both;
	font-size: 16px;
	line-height: 20px;
}

.main-feature h2 {
	clear: both;
	display: inline-block;
	margin-bottom: 15px;
	float: left;
	font-size: 40px;
	line-height: 50px;
	color: blue;
	padding: 0;
}
}

@media only screen and (max-width : 480px) {


.header-logo {
	z-index: 302;
	float: left;
	position: fixed;
	font-size: 80px;
	color: red;
	margin: 2.5%;
	/*max-width: 50%;*/
	padding: 0;
}

#header-wrap {
	max-width: 100%;
	position: relative;
	margin: 20px 20px 20px 20px;
	overflow: hidden;
}

#menu {
	z-index: 300;
	float: right;
	position: fixed;
	font-size: 19px;
	margin: 4% 2.5% 2.5% 50%;
	color: red;
	list-style-type: none;
}

.menu {
	width: 140%;	
}
.top-space {
	float: left;
	height: 120px;
	width: 100%;
}

.main-feature {
	font-size: 16px;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 50px;
	clear: both;
}


#bt {
	height: 10px;
}
#br {
	width: 10px;
}
#bb {
	height: 10px;
}
#bl {
	width: 10px;
}


}

